h1, h2 {
    font-size: 150px;
    color: green;
}

ul li a{
    color: orange;
}
li:nth-child(3) a {
    color: purple;
}
ol li a{
    color: blue;
}
ol li:nth-child(even) a {
    color: green;
}
ol li:nth-child(even) a:hover{
    color: red;
}
body {

    background-repeat: repeat-x ;
}